:root {
    --bg: #E6D8C7;
    --navy: #0B1957;
    --accent: #5784E6;
    --soft: #F8F0E5;
}

body {
    background-color: var(--soft);
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

h1 {
    letter-spacing: 3px;
    font-size: 3rem;
    color: var(--accent);
    font-size: 36px;
    margin-bottom: 20px;
} h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--accent);
    margin-bottom: 5px;
    letter-spacing: 0.3px;
    transition: color 0.3s ease;
} h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--navy);
    opacity: 75%;
    margin: 10px 0 5px 0px;
    letter-spacing: 0.2px;
    transition: color 0.3s ease;
}

p {
    max-width: 50rem;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 1.2px;
    color: var(--navy);
    opacity: 0.85;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    p {
        font-size: 14px;
    }
}