:root {
    --bg: #E6D8C7;
    --navy: #0B1957;
    --accent: #5784E6;
    --soft: #F8F0E5;
    --shadow-color: rgba(11, 25, 87, 0.15); /* light mode shadow */
}

body.dark {
    --bg: #0B1020; /* Dark background color */
    --navy: #E6D8C7; /* Font color */
    --accent: #5784E6; /* Accent color */
    --soft: #151A2E; /* Background color */
    --shadow-color: rgba(255, 255, 255, 0.15); /* dark mode shadow */
}


body,
body * {
    transition:
        background-color 0.35s ease,
        color 0.35s ease,
        border-color 0.35s ease,
        box-shadow 0.35s ease;
}

body {
    background-color: var(--soft);
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

h1 {
    letter-spacing: 3px;
    font-size: 3rem;
    color: var(--accent);
    font-size: 36px;
    margin-bottom: 20px;
} h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--accent);
    margin-bottom: 5px;
    letter-spacing: 0.3px;
    transition: color 0.3s ease;
} h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--navy);
    opacity: 75%;
    margin: 10px 0 5px 0px;
    letter-spacing: 0.2px;
    transition: color 0.3s ease;
}

p {
    max-width: 50rem;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 1.2px;
    color: var(--navy);
    opacity: 0.85;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    p {
        font-size: 14px;
    }
}