.profile {
    background: var(--bg);
    min-height: 80vh;
    padding: 7.5% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.info {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-name {
    font-size: clamp(48px, 6vw, 72px);
    font-weight: 500;
    color: var(--navy);
    letter-spacing: 2px;

}

.profile-title {
    font-size: 24px;
    font-weight: 500;
    color: var(--accent);
    letter-spacing: 3px;
    text-transform: uppercase;
    
}

.profile-desc {
    font-size: 18px;
    line-height: 1.8;
    color: var(--navy);
    opacity: 0.85;
    max-width: 520px;
    margin: 0 auto;
    letter-spacing: 1.2px;
}

.profile-picture {
    width: 400px;
    height: 600px;
    flex-shrink: 0;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    box-shadow: 0 12px 35px var(--shadow-color);
    transition: opacity 2s ease, filter 0.35s ease;
}

.profile-picture img:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.profile-contact {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.cv-button {
    padding: 0.7rem 1.5rem;
    border: 2px solid var(--accent);
    color: var(--accent);
    border-radius: 9999px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
} 

.cv-button:hover {
    background-color: var(--accent);
    color: var(--bg);
    transform: translateY(-2px);
}

@media (max-width: 900px) {
    .profile {
        flex-direction: column;
        gap: 40px;
        padding: 25%;
        text-align: center;
    }

    .profile-picture {
        width: 250px;
        height: 400px;
        order: -1;
        margin: 50px;
    }

    .profile-picture img {
        box-shadow: 0 12px 35px var(--shadow-color);
    }

    .profile-name {
        font-size: 40px;
    }

    .profile-title {
        font-size: 18px;
    }

    .profile-desc {
        font-size: 16px;
        justify-content: center;
    }
    .profile-contact {
        justify-content: center;
        flex-direction: column;
    }
}