.card-container {
    border-radius: 25px;
    overflow: hidden;

    width: 100%;
    max-width: 550px;

    box-shadow: 0 12px 35px var(--shadow-color);
    transition: transform 0.25s ease;
}

.card-container {
    background: var(--soft);
    border-radius: 18px;
    overflow: hidden;

    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.card-container:hover {
    transform: translateY(-6px) scale(1.02); 
    box-shadow: 0 12px 35px var(--shadow-color);
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.4s ease, filter 0.4s ease;
}

.card-content {
    padding: 10px 30px 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: left;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent);
    margin: 0;
}

@media (min-width: 480px) {
    .card-image {
        height: 300px;
    } p.card-description {
        margin: 0;
        padding-bottom: 25px;
    }
}
