.contact-me {
    background: var(--soft);
    color: var(--navy);

    min-height: 20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 80px 20px;
    gap: 18px;
}